.spotify_search-result-detail-album--content .spotify_search-result > div {
    height: 64px;
}

.spotify_search-result-detail-album--content .spotify_result--flex-container {
    flex-direction: column;
    text-align: left;
}

.spotify_search-result-detail-album--content ol {
    margin: 0;
    padding: 0 0 0 1em;
}
