.spotify_search-container {
    display: grid;
    grid-template-columns: 1fr 385px;
    grid-template-rows: 4em 1fr;
    margin: 1em;
    background-color: #111;
    border-radius: 4px;
}
.spotify_search-container-search-bar-container {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 1;
    grid-row-end: span 1;
    display: flex;
    justify-content: center;
}

.spotify_search-container-search-results-container {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row: 2;
    grid-row-end: span 1;
    padding: 0 1em;
}

.spotify_search-container-detail-container {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row: 2;
    grid-row-end: span 1;
    background-color: #161616;
    border-radius: 4px 0 4px 0;    
}

@media (max-width: 893px) {
    .spotify_search-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .spotify_result-detail > div {
        min-height: 100%;
    }

    .spotify_result-detail > button {
        display: block;
    }

    .spotify_search-result  {
        margin: .25em;
    }
    .spotify_search-results h3 {
        margin: .5em 0;
    }

    .spotify_search-result-section--next, .spotify_search-result-section--previous {
        height: calc(100% - .25em);
    }

    .spotify_search-container-detail-container {
        border-radius: 0 0 0 0;
    }
    
    .spotify_search-container-search-results-container {
        border-radius: 0 0 4px 4px;
    }
}

@media (min-width: 1425px) {
    .spotify_search-container {
        grid-template-columns: 992px 1fr;
    }
}