
.spotify_result-detail-content {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 1em 1em;
}

.spotify_result-detail .spotify_search-result {    
    margin: 0 .25em .5em;
}
.spotify_result-detail-query {
    text-align: left;
    margin: 1em 0 0 1em;
}

.spotify_result-detail > button {
    color: #222;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    position: fixed;
    top: 2em;
    left: 2em;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.spotify_result-detail > div h2 {
    margin: 1em auto;
}

.spotify_result-detail--image {
    width: 256px;    
}

.spotify_result-detail > div > div::-webkit-scrollbar {
    display: none;
}

.spotify_result-detail .search-result--flex-container {
    width: auto;
}