.spotify_search-result-section {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.spotify_search-result-section--next, .spotify_search-result-section--previous {
    position: relative;
    width: 32px;
    height: calc(100% - 1.25em);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: #161616;
    border: none;
    text-decoration: underline;
}

.spotify_search-result-section--next:hover, .spotify_search-result-section--previous:hover {
    background-color: #333;
}

.spotify_search-result-section-empty {
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 893px) {
    .spotify_search-result-section--next, .spotify_search-result-section--previous {
        height: calc(100% - .25em);
    }
}
