.spotify_search-result-section {
    position: relative;
    width: 960px;
    margin: 0 auto;
    display: flex;
}

.spotify_search-result-section--next, .spotify_search-result-section--previous {
    position: relative;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
}