body {
  background-color: #000
}
.App {
  text-align: center;
  color: #ccc;
}

.App button  {  
  color: #eee;
}

.App a {
  color: #a33;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2em;
}

.App a:hover {
  color: #aaa;
}