body {
  background-color: #000
}
.App {
  color: #ccc;
}

.App button  {  
  color: #eee;
}

.App a {
  color: #a33;
  cursor: pointer;
  text-decoration: none;
}

.App a:hover {
  color: #aaa;
}


@media (max-width: 893px) {
  .App {        
      text-align: center;
  }
}
